/.mc-lists.el
/auto-save-list/
/bookmarks
/bookmarks~
/elpa/
/elpy/
/eshell/
/finito/
/network-security.data
/nina.org~
/url/
/tutorial/
/transient/
/straight/
/server/
/recentf
/places
/org-persist/
/notes
/early-init.el~
